@model AIVA.Web.ViewModels.VehiculoViewModel

@{
    ViewBag.Title = "Resultados";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Resultados</h1>
            </div>
        </div>
    </div>
</section>


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-8"> <h3 class="card-title">Listado de vehículos registrados</h3></div>
                </div>

            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table class="table table-striped table-bordered DataTableDefaultExportButtons" id="tlbVariable">
                    <thead>
                        <tr>
                            <th class="text-center">Id</th>
                            <th class="text-center">Base</th>
                            <th class="text-center">Placa</th>
                            <th class="text-center">Serie</th>
                            <th class="text-center">Observación</th>
                            <th class="text-center">Modus</th>
                            <th class="text-center">Averiguación</th>
                            <th class="text-center">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.VehiculosReportados)
                        {

                          
                            <tr>
                                <td class="text-center">
                                    @Html.DisplayFor(modelItem => item.id)
                                </td>
                                <td class="text-left">
                                    @Html.DisplayFor(modelItem => item.Base)
                                </td>
                                <td class="text-left">
                                    @Html.DisplayFor(modelItem => item.NoPlaca)
                                </td>
                                <td class="text-left">
                                    @Html.DisplayFor(modelItem => item.NoSerie)
                                </td>
                                <td class="text-left">
                                    @Html.DisplayFor(modelItem => item.Observaciones)
                                </td>
                                <td class="text-left">
                                    @Html.DisplayFor(modelItem => item.ModusOperandi)
                                </td>
                                <td class="text-left">
                                    @Html.DisplayFor(modelItem => item.Averiguacion)
                                </td>
                                
                                <td class="text-center">
                                    @Html.ActionLink("Ver", "Edit", "Cliente", new { id = item.id }, new { @class = "btn btn-success" })
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>

<br />
<br />
<br />


@section Styles {
    <link rel="stylesheet" href="~/lib/dataTables/datatables.min.css" />
    <link rel="stylesheet" href="~/lib/sweetalert2/sweetalert2.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-datepicker/datepicker3.css" />
    <link rel="stylesheet" href="~/css/Comunes.css" />
}

@section Scripts {
    <script src="~/lib/dataTables/datatables.min.js"></script>
    <script src="~/lib/sweetalert2/sweetalert2.min.js"></script>
    <script src="~/lib/bootstrap-datepicker/bootstrap-datepicker.js"></script>
    <script src="~/js/Comunes.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            window.addEventListener('keydown', function (e) {
                if (e.keyIdentifier == 'U+000A' || e.keyIdentifier == 'Enter' || e.keyCode == 13) {
                    if (e.target.nodeName == 'INPUT' && e.target.type == 'text') {
                        e.preventDefault();
                        return false;
                    }
                }
            }, true);

            InicializarDataTableDefaultBotonesExportar('Datos del sistema');
            InicializarDatePickerDefault();
        });



    </script>
}
